/* ye title or button or puri body m jo bhi content h uske font-size of font-family ko manage krega */
body {
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}


/* this css is used for showing the background image  */
.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header .container {
  z-index: 2;
}


/* this css is used for background image ko pure page pr failane  ko or 
    jo bhi text exist kr rha h front pr usko center m krne ko
    z-index is all about visibility of content */
.page-header .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}

.container .content-center .btn-primary {
  margin-top: 10px;
  margin-bottom: 60px;
}


/* this css is used for styling the profile image */
.profile-image img {
  position: relative;
  border-radius: 50%;
  height: 270px;
  width: 220px;
  padding: 0;
  /* margin top se image or navbar ke beech m distance aa gya */
  margin-top: 70px; 
  border: 15px solid transparent;
}

/* this css is used for changing the background color of buttons */
.btn-primary {
  background-color: black;
  border-color: black;
}

/* isse hire me or download resume button ki width handle hogi
.page-header .btn {
  width: 200px;
} */

.navbar .navbar-transparent {
  /* this bg color step jo navbar ka jo box sa banta  usko hta dega */
  /* background-color: transparent !important; */
  /* color: black; */
  padding-top: 20px;

}

/* ye navbars links ke font size or particular navbar ke letters ke beech m spacing dega */
.navbar {
  font-size: 18px;
  letter-spacing: 1px;
} 

/* isse profile title ka font color change ho jayega */
.navbar-translate .navbar-brand {
  color: pink;
}

/* isse logos or about content ke beeech m space mil jayega */
.section {
  padding: 1px 0;
  position: relative;
  background: #FFFFFF;
}

/* isse wo logos aadha background m or aadha section mtlb line ke beech m dhikhenge */
.profile-page .button-container {
  text-align: center;
  margin-top: -25px;
}

.btn .btn-icon .btn-lg {
  height: 3.6rem;
  min-width: 3.6rem;
  width: 3.6rem;
}

/* Profile Page Social button Style */
.button-container .btn-default {
  margin-right: 8px;
}

/* .btn .btn-icon {
  height: 2.375rem;
  min-width: 2.375rem;
  width: 2.375rem;
  padding: 0;
  font-size: 0.9375rem;
  overflow: hidden;
  position: relative;
  line-height: normal;
} */

/* isse button rounded ho jayenge */
.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
}

/* (>) ye sign use krne se sir inhi buttons ko handle krenge others buttons effect nh honge */
.button-container > .btn {
  border-width: 2px;
  font-weight: 400;
  font-size: 1.5em;
  /* line-height: 1.35em; */
  margin: 3px 20px;
  /* margin-top,bottom=3, margin-left,right=20 isse icons ke beech m space mil gya*/
  border: none;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color: black;
  color: #FFFFFF;
}







